@model IEnumerable<TesteSiteNoticias.Models.Post>

@{
    ViewData["Title"] = "Listagem de Notícias";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a class="btn btn-dark" asp-action="Create">Adicionar uma nova notícia</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Resumo)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Resumo)
            </td>
                       
            <td>
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.PostId"><i class="fa fa-edit" data-toggle="tooltip" title="Editar"></i></a> |
                <a class="btn btn-success" asp-action="Details" asp-route-id="@item.PostId"><i class="fa fa-eye" data-toggle="tooltip" title="Detalhes"></i></a> |
                <a class="btn btn-dark" asp-action="Delete" asp-route-id="@item.PostId"><i class="fa fa-trash" data-toggle="tooltip" title="Excluir"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
